@font-face{
	font-family:'mate';
	src:url('font.eot');
	src:url('font.eot') format('embedded-opentype'),
		url('font.woff') format('woff'),
		url('font.ttf') format('truetype'),
		url('font.svg') format('svg');
	font-weight:normal;
	font-style:normal;
}

.f-mt{font-family:'mate'!important;font-style:normal;}
.f-mt:before{content:'\e937';}



/*BASE*/
.mt-plus:before{content:'\ec01'}
.mt-reduction:before{content:'\ec00'}

.mt-creat:before{content:'\e896';}
.mt-remove:before{content:'\e89e';}
.mt-remove-2:before{content:'\f1f8'}
.mt-remove-3:before{content:'\e848'}/*\e82e*/
.mt-remove-4:before{content:'\ef14'}

.mt-update:before{content:'\e889'}
.mt-refresh:before{content:'\e8e5'}
.mt-refresh-2:before{content:'\e8e4'}
.mt-refresh-3:before{content:'\e95b'}

.mt-search:before{content:'\e902'}
.mt-search-2:before{content:'\e621'}
.mt-search-3:before{content:'\f04f'}
.mt-reset:before{content:'\f122'}
.mt-migrate:before{content:'\e904'}

.mt-renew:before{content:'\e939'}
.mt-cash:before{content:'\e935'}
.mt-sms:before{content:'\e936'}
.mt-services:before{content:'\e938'}
.mt-more:before{content:'\e933'}
.mt-left:before{content:'\e932'}
/*.mt-more:before{content:'\e933'}*/
.mt-grid:before{content:'\f009'}
.mt-grid-2:before{content:'\e819'}
.mt-grid-alt:before{content:'\e81a'}



.mt-yes:before{content:'\e919';color:green;font-style:italic;}
.mt-no:before{content:'\e8e3';color:red;font-style:italic;}

.mt-info:before{content:'\e8d2'}
.mt-info-2:before{content:'\e84b'}
.mt-warning:before{content:'\f071';color:red;font-style:italic;}
.mt-warning-2:before{content:'\e83b'}
.mt-warning-3:before{content:'\e840'}
.mt-warning-4:before{content:'\e841'}
.mt-warning-5:before{content:'\e842'}
.mt-attention:before{content:'\e853'}
.mt-amazing:before{content:'\f070'}
.mt-wait:before{content:'\f070'}
.mt-help:before{content:'\e8cd'}
.mt-help-2:before{content:'\e84a'}
.mt-stop:before{content:'\f04d'}
.mt-stop-2:before{content:'\e858'}
.mt-record:before{content:'\e859'}


.mt-navicon:before{content:'\f0c0'}
.mt-audit:before{content:'\e917'}


.mt-upload:before{content:'\f0ee'}
.mt-download:before{content:'\f0ed'}
.mt-upload-2:before{content:'\e86b'}
.mt-download-2:before{content:'\e86a'}
.mt-upload-3:before{content:'\e04c'}
.mt-download-3:before{content:'\e04d'}

.mt-upload-4:before{content:'\e066'}
.mt-download-4:before{content:'\e067'}


.mt-working:before{content:'\e904'}

.mt-arrow:before{content:'\e8aa'}
.mt-right-arrow:before{content:'\e8aa'}
.mt-left-arrow:before{content:'\e8a9'}
.mt-top-arrow:before{content:'\e8ab'}
.mt-bottom-arrow:before{content:'\e8a8'}





.mt-edit:before{content:'\e889'}
.mt-save:before{content:'\e88a'}
.mt-notice:before{content:'\f028'}
.mt-window:before{content:'\f17a'}




.mt-home:before{content:'\e900'}
.mt-home-2:before{content:'\e8cf'}

.mt-user:before{content:'\e88f'}

.mt-user-1:before{content:'\e866'}
.mt-user-2:before{content:'\a002'}
.mt-user-3:before{content:'\f007'}
.mt-user-4:before{content:'\ef01'}

.mt-users:before{content:'\f0cf'}/*f0c0*/
.mt-users-2:before{content:'\e873'}
.mt-users-3:before{content:'\e844'}


.mt-iphone:before{content:'\ff99'}
.mt-mobile:before{content:'\e12c'}/*e88d*/
.mt-email:before{content:'\e89a'}
.mt-email-2:before{content:'\e028'}


.mt-email-3:before{content:'\e8d3'}
.mt-email-4:before{content:'\e823'}
.mt-email-5:before{content:'\e82f'}
.mt-email-6:before{content:'\f0e1'}/*f0e0*/

.mt-password:before{content:'\e89b'}
.mt-password-safe:before{content:'\e8ff';font-size:108%;line-height:109%;}
.mt-close:before{content:'\e89c'}
.mt-close-2:before{content:'\ef09'}
.mt-shutdown:before{content:'\e89c'}
.mt-qq:before{content:'\f1d6'}
.mt-wechat:before{content:'\e872'}
.mt-message:before{content:'\e88e'}
.mt-key:before{content:'\e891'}
.mt-key-2:before{content:'\e8d5'}
.mt-chart:before{content:'\e89f'}
.mt-chart-2:before{content:'\e00e'}
.mt-chart-3:before{content:'\ef08'}
.mt-chart-4:before{content:'\ef0b'}
.mt-chart-pie:before{content:'\e89d'}
.mt-chart-pie-2:before{content:'\f200'}
.mt-chart-pie-3:before{content:'\e869'}
.mt-chart-pie-4:before{content:'\ef18'}
.mt-chart-line:before{content:'\f012'}

.mt-setup:before{content:'\f013'}
.mt-setup-2:before{content:'\a007'}
.mt-setup-3:before{content:'\cf00'}
.mt-setup-4:before{content:'\cf0d'}
.mt-settings:before{content:'\f085'}

.mt-tree:before{content:'\e90c'}
.mt-tree-2:before{content:'\e87c'}
.mt-tree-3:before{content:'\f0e8'}

.mt-report:before{content:'\f1c6'}
.mt-report-2:before{content:'\cf24'}
.mt-report-day:before{content:'\e88c'}
.mt-report-day-2:before{content:'\e81b'}
.mt-report-month:before{content:'\e88b'}
.mt-report-month-2:before{content:'\e800'}
.mt-cny:before{content:'\e91e'}
.mt-cash:before{content:'\e91f'}

.mt-pdf:before{content:'\f1c1'}
.mt-pdf-2:before{content:'\cf23'}
.mt-word:before{content:'\f1c2'}
.mt-word-2:before{content:'\e6a5'}
.mt-excel:before{content:'\f1c3'}
.mt-excel-2:before{content:'\e69f'}
.mt-powerpoint:before{content:'\f1c4'}
.mt-powerpoint-2:before{content:'\e6a3'}
/*.mt-zip:before{content:'\f1c6'}*/
.mt-clear:before{content:'\e91e'}

.mt-link:before{content:'\f101'}

.mt-link-right:before{content:'\f101'}
.mt-link-left:before{content:'\f100'}
.mt-link-top:before{content:'\f102'}
.mt-link-bottom:before{content:'\f103'}

.mt-lock:before{content:'\e020'}
.mt-lock-2:before{content:'\cf1d'}
.mt-unlock:before{content:'\f09c'}
.mt-locked:before{content:'\e601'}

.mt-unlock-2:before{content:'\e864'}
.mt-locked-2:before{content:'\e863'}



.mt-lock-open-alt:before{content:'\e875'}
.mt-lock-alt:before{content:'\e876'}
.mt-lock-open-alt-2:before{content:'\e87a'}
.mt-lock-circled:before{content:'\e87b'}

.mt-expand:before{content:'\ea42'}
.mt-collapse:before{content:'\ea43'}


.mt-dns:before{content:'\e98d'}
.mt-dns-2:before{content:'\e98b'}
.mt-dns-3:before{content:'\e98c'}

.mt-domain:before{content:'\e921'}
.mt-host:before{content:'\e98e'}
.mt-host-2:before{content:'\e98f'}
.mt-host-3:before{content:'\e990'}
.mt-host-4:before{content:'\e8c5'}

.mt-database:before{content:'\e8c3'}
.mt-mailmate:before{content:'\e965'}
.mt-mailx-ui-2:before{content:'\e966'}
.mt-smsmate:before{content:'\e988'}
.mt-smsx-ui-2:before{content:'\e989'}
.mt-thirdpay:before{content:'\e928'}
.mt-paymate:before{content:'\e928'}
.mt-im:before{content:'\e941'}
.mt-mt4mate:before{content:'\e905'}
.mt-server:before{content:'\e8c5'}



.mt-arrow-top:before{content:'\f062'}
.mt-arrow-bottom:before{content:'\f063'}
.mt-arrow-left:before{content:'\f060'}
.mt-arrow-right:before{content:'\f061'}

.mt-arrow-top:before{content:'\f139'}
.mt-arrow-bottom:before{content:'\f13a'}
.mt-arrow-left:before{content:'\f137'}
.mt-arrow-right:before{content:'\f138'}

.mt-arrow-top-2:before{content:'\e887'}
.mt-arrow-bottom-2:before{content:'\e888'}
.mt-arrow-left-2:before{content:'\e885'}
.mt-arrow-right-2:before{content:'\e886'}


.mt-arrow-top-3:before{content:'\e811'}
.mt-arrow-bottom-3:before{content:'\e812'}
.mt-arrow-left-3:before{content:'\e80f'}
.mt-arrow-right-3:before{content:'\e810'}
/*.mt-arrow-left:before{content:'\f190'}*/
/*.mt-arrow-right:before{content:'\f18e'}*/

.mt-figure:before{content:'\e893'}
.mt-figure-2:before{content:'\e8f3'}
.mt-figure-3:before{content:'\e997'}
.mt-figure-4:before{content:'\f201'}
.mt-figure-5:before{content:'\ab07'}
.mt-figure-6:before{content:'\ab05'}

.mt-buy:before{content:'\e8ae'}
.mt-buy-2:before{content:'\e649'}
.mt-buy-3:before{content:'\ef15'}


.mt-beian:before{content:'\e926'}
.mt-beian-2:before{content:'\e991'}

.mt-account-circle:before{content:'\e268'}


.mt-visa:before{content:'\f1f0'}
.mt-mastercard:before{content:'\f1f1'}
.mt-discover:before{content:'\f1f2'}
.mt-american:before{content:'\f1f3'}
.mt-paypal:before{content:'\f1f4'}
.mt-stripe:before{content:'\f1f5'}

.mt-dollar:before{content:'\e93b'}
.mt-dollar-1:before{content:'\e702'}
.mt-dollar-2:before{content:'\f155'}
.mt-dollar-3:before{content:'\e608'}
.mt-dollar-4:before{content:'\e609'}

.mt-payx-ui-rmb:before{content:'\f157'}

.mt-creative-commons:before{content:'\e832'}

.mt-play:before{content:'\f04b'}
.mt-play-circled:before{content:'\f144'}/*e01c*/
.mt-play-circled2:before{content:'\f01d'}
.mt-play-circled3:before{content:'\e01d'}

.mt-pause:before{content:'\f04c'}
.mt-pause-2:before{content:'\e92e'}


.mt-chevrom-bottom:before{content:'\e85c'}

.mt-chevrom-top:before{content:'\e85f'}

.mt-chevrom-left:before{content:'\e85d'}

.mt-chevrom-right:before{content:'\e85e'}


.mt-eye-on:before{content:'\f06e'}/*e870*/

.mt-mute:before{content:'\f1f6'}
.mt-mute-2:before{content:'\f1f7'}

.mt-backup:before{content:'\e8ac'}

.mt-chart-trend:before{content:'\e610'}
.mt-chart-trend-2:before{content:'\e611'}
.mt-chart-trend-3:before{content:'\ef07'}


.mt-spinner:before{content:'\e81c'}
.mt-spinner-2:before{content:'\e81d'}
.mt-spinner-3:before{content:'\f110'}/*e890*/
.mt-spinner-4:before{content:'\cf2f'}
.mt-picassa:before{content:'\e824'}

.mt-chevron-right:before{content:'\e825'}
.mt-chevron-left:before{content:'\e826'}

.mt-outline-right:before{content:'\e827'}
.mt-outline-left:before{content:'\e828'}
.mt-outline-top:before{content:'\e82b'}
.mt-outline-bottom:before{content:'\e82c'}

.mt-reply:before{content:'\e083'}
.mt-reply-2:before{content:'\e83a'}


.mt-v-card:before{content:'\e839'}

.mt-list-outline:before{content:'\e829'}

.mt-circled:before{content:'\e85a'}


.mt-circle-creat:before{content:'\cf04'}
.mt-circle-cancel:before{content:'\cf05'}
.mt-circle-audit:before{content:'\cf06'}
.mt-circle-remove:before{content:'\cf07'}

.mt-delete:before{content:'\cf0c'}
.mt-delete-2:before{content:'\e625'}




.mt-globe:before{content:'\cf1f'}
.mt-globe-2:before{content:'\cf21'}
.mt-globe-3:before{content:'\cf25'}

.mt-folder-creat:before{content:'\cf28'}
.mt-folder-cancel:before{content:'\cf29'}

.mt-folder-download:before{content:'\cf2a'}
.mt-folder-upload:before{content:'\cf2b'}

.mt-price-tags:before{content:'\cf2c'}

.mt-drive:before{content:'\cf30'}


.mt-sidebar-on:before{Content:'\e68d'}
.mt-sidebar-off:before{Content:'\e68e'}



.mt-money:before{content:'\e655'}
.mt-money-2:before{content:'\e668'}
.mt-money-3:before{content:'\e669'}
.mt-money-4:before{content:'\e6c4'}


.mt-checkbox:before{content:'\e862'}

.mt-tree-diagram:before{content:'\ef02'}
.mt-tree-diagram-2:before{content:'\ef0e'}
.mt-tree-diagram-3:before{content:'\ef22'}
.mt-tree-diagram-4:before{content:'\ef1a'}

.mt-towards-left:before{content:'\ef04'}
.mt-towards-right:before{content:'\ef03'}

.mt-fund-transfer:before{content:'\ef05'}
.mt-cloud:before{content:'\ef21'}


.mt-tree-chart:before{content:'\ef1e'}
.mt-tree-chart-2:before{content:'\ef1f'}
.mt-open:before{content:'\ef1c'}
.mt-sale:before{content:'\ef1d'}

.mt-arrow-curved:before{content:'\ef0f'}
.mt-chart-area:before{content:'\ef0d'}
.mt-bar-graph:before{content:'\e901'}
.mt-bar-graph-2:before{content:'\ab04'}
.mt-paragraph:before{content:'\e025'}

.mt-medal:before{content:'\e906'}

.mt-cloud-upload:before{content:'\e908'}
.mt-cloud-download:before{content:'\e907'}

.mt-column-chart:before{content:'\ab00'}
/*.mt-trading:before{content:'\ab01'}*/

.mt-premium:before{content:'\ab02'}


.mt-table-pre:before{content:'\ab08'}
.mt-situation-chart:before{content:'\ab0b'}

.mt-premium-dollar:before{content:'\ab0c'}
.mt-premium-chart:before{content:'\ab0d'}



.mt-icon:before{content:'\f0c0'}
.mt-tags:before{content:'\cf2c'}
.mt-city:before{content:'\ac0f'}

.mt-release:before{content:'\e90d'}
.mt-access:before{content:'\ac0d'}
.mt-resources:before{content:'\ac10'}
.mt-demand-service:before{content:'\ac07'}
.mt-trading:before{content:'\ab01'}
.mt-recrui:before{content:'\ac01'}

.mt-rent:before{content:'\e603'}
.mt-friends:before{content:'\ac24'}
.mt-powder:before{content:'\ac22'}
.mt-additve:before{content:'\e90a'}
.mt-concern:before{content:'\ac11'}
.mt-skills:before{content:'\e90b'}

.mt-housing:before{content:'\e909'}
.mt-building:before{content:'\ac0c'}
.mt-shops:before{content:'\ac0e'}
.mt-warehous:before{content:'\ac98'}

.mt-tment:before{content:'\ac06'}
.mt-fulltime:before{content:'\ac04'}
.mt-parttime:before{content:'\ac05'}
.mt-parttime-job:before{content:'\ac03'}


.mt-transfer:before{content:'\e904'}
.mt-purchase:before{content:'\e652'}
.mt-online:before{content:'\f004d'}
.mt-investment:before{content:'\ac08'}
.mt-customer:before{content:'\ac0b'}

.mt-education:before{content:'\e686'}
.mt-life-service:before{content:'\e654'}
.mt-other:before{content:'\ac0a'}
.mt-shoes:before{content:'\ac23'}
.mt-baby:before{content:'\345a'}
.mt-skin:before{content:'\3483'}
.mt-digital:before{content:'\ac99'}

.mt-build:before{content:'\3453'}
.mt-wholesale:before{content:'\e67a'}

.mt-zambia:before{content:'\ec99'}

.mt-check-order:before{content:'\e958'}
.mt-place-order:before{content:'\e959'}
.mt-sign:before{content:'\e956'}
.mt-complaint:before{content:'\e961'}
.mt-delivery:before{content:'\e957'}
.mt-notification:before{content:'\e960'}

.mt-system:before{content:'\ff12'}
.mt-mt4-set:before{content:'\ff03'}
.mt-management:before{content:'\ff08'}
.mt-account-strate:before{content:'\ff09'}
.mt-variety:before{content:'\ff17'}
.mt-account-setup:before{content:'\ff28'}
.mt-return:before{content:'\ff01'}
.mt-account-audit:before{content:'\ff56'}
.mt-real-account:before{content:'\ff16'}
.mt-proxy-account:before{content:'\ff23'}
.mt-account-transfer:before{content:'\ff18'}
.mt-account-update:before{content:'\ff96'}
.mt-batch:before{content:'\ff06'}
.mt-transaction:before{content:'\ff10'}

.mt-entry-audit:before{content:'\ff24'}
.mt-out-audit:before{content:'\ff25'}
.mt-entry-manage:before{content:'\ff26'}
.mt-money-manage:before{content:'\ff27'}

.mt-trading-orders:before{content:'\ff20'}
.mt-guadan:before{content:'\ff19'}

.mt-transfer-ment:before{content:'\ff13'}
.mt-position:before{content:'\ff14'}
.mt-access-gold:before{content:'\ff15'}
.mt-access-gold-1:before{content:'\a004'}
.mt-access-gold-2:before{content:'\e6b7'}
.mt-credit:before{content:'\ff05'}
.mt-all-order:before{content:'\ff04'}
.mt-filter:before{content:'\ff11'}
.mt-work-system:before{content:'\ff21'}
.mt-information:before{content:'\ff97'}

.mt-board:before{content:'\ff98'}
.mt-pending:before{content:'\e6b3'}
.mt-finance:before{content:'\e7e1'}
.mt-order:before{content:'\f07e'}
.mt-statistics:before{content:'\f27c'}
.mt-tool:before{content:'\a006'}
.mt-certificates:before{content:'\e600'}
.mt-bank-card:before{content:'\e639'}
.mt-summary:before{content:'\e63a'}
.mt-lever:before{content:'\e75e'}
.mt-share:before{content:'\e697'}
.mt-classified:before{content:'\f043'}
.mt-interactive:before{content:'\a003'}
.mt-article:before{content:'\e60a'}
.mt-position-order:before{content:'\e647'}

/*ACTION COLUMN*/
.mt-action-creat:before{content:'\e8a2';}
.mt-action-cancel:before{content:'\e8fb'}
.mt-action-audit:before{content:'\e917';}
.mt-action-remove:before{content:'\e8e1';}
.mt-action-update:before{content:'\e889'}
.mt-action-update-2:before{content:'\f044'}
.mt-action-update-3:before{content:'\e815'}
.mt-action-update-4:before{content:'\e64a'}


.mt-action-account:before{content:'\e937'}
.mt-action-api:before{content:'\f121'}
.mt-action-upload:before{content:'\e9a5'}
.mt-action-sms:before{content:'\e936'}
.mt-action-mail:before{content:'\f003'}
.mt-action-track:before{content:'\e938'}
.mt-action-clear:before{content:'\e91f'}
.mt-action-cash:before{content:'\e935'}
.mt-action-log:before{content:'\e938'}
.mt-action-shift:before{content:'\e8df'}
.mt-action-shift-2:before{content:'\e94a'}
.mt-action-shift-3:before{content:'\e943'}
.mt-action-tool:before{content:'\e933'}
.mt-action-copy:before{content:'\e995'}
.mt-action-reset:before{content:'\f122'}
.mt-action-renew:before{content:'\e939'}
.mt-action-renew-2:before{content:'\ab0a'}
.mt-action-settings:before{content:'\f085'}
.mt-action-link:before{content:'\f08b'}

.mt-action-alt:before{content:'\ef12'}

.mt-recruitment:before{content:'\e915'}
.mt-full-time-job:before{content:'\e910'}

.mt-part-time:before{content:'\e912'}
.mt-part-time-job:before{content:'\e911'}



/*BUTTON*/
.mt-button-creat:before{content:'\e8a3'}
.mt-button-creat-2:before{content:'\f055'}
.mt-button-creat-3:before{content:'\e838'}


.mt-button-submit:before{content:'\e918'}
.mt-button-submit-2:before{content:'\f058'}
.mt-button-submit-3:before{content:'\f14f'}

.mt-button-remove:before{content:'\e8e2'}
.mt-button-remove-2:before{content:'\f057'}
.mt-button-remove-3:before{content:'\e836'}



.mt-button-cancel:before{content:'\e8fc'}/*e84c*/
.mt-button-cancel-2:before{content:'\f056'}
.mt-button-cancel-3:before{content:'\e837'}

.mt-button-upload:before{content:'\e92c'}

.mt-button-loaddata:before{content:'\e995'}

.mt-button-help:before{content:'\e629'}
.mt-button-help-2:before{content:'\e854'}
.mt-button-help-3:before{content:'\cf11'}
.mt-button-info:before{content:'\ef13'}
.mt-button-info-2:before{content:'\cf12'}
.mt-button-info-3:before{content:'\ef10'}

.mt-button-money:before{content:'\ab09'}

/*MENU*/
.mt-menu-yes:before{content:'\e917'}
.mt-menu-yes-2:before{content:'\e613'}
.mt-menu-yes-3:before{content:'\e046'}

.mt-menu-no:before{content:'\e8e1'}
.mt-menu-no-2:before{content:'\e612'}
.mt-menu-no-3:before{content:'\e044'}

.mt-menu-cancel:before{content:'\e8fb'}
.mt-menu-cancel-2:before{content:'\e90e'}
.mt-menu-cancel-3:before{content:'\e045'}

.mt-menu-wait:before{content:'\e8d0'}
.mt-menu-all:before{content:'\e933'}
.mt-menu-all2:before{content:'\f208'}




.mt-square-remove:before{content:'\e047'}




/*COMBO*/
.mt-combo-title:before{content:'\e8a8'}/*f0d7*/
.mt-combo-user:before{content:'\e927'}
.mt-combo-cny:before{content:'\e928'}
.mt-combo-server:before{content:'\e98e'}



/*MESSAGE BOX*/
.mt-alert-title:before{content:'\e8d0'}
.mt-alert-icon:before{content:'\e8d1'}

.mt-info-title:before{content:'\e8d0'}

.mt-info-icon:before{content:'\e8d1'}

.mt-warning-title:before{content:'\e913'}
.mt-warning-icon:before{content:'\e914'}
.mt-warning-icon-2:before{content:'\f06a'}
.mt-error-title:before{content:'\e8e1'}
.mt-error-icon:before{content:'\e8e2'}
.mt-confirm-title:before{content:'\e8cc'}
.mt-confirm-icon:before{content:'\e8cd'}
.mt-question-title:before{content:'\e8cc'}
.mt-question-icon:before{content:'\e8cd'}
.mt-waiting-title:before{content:'\e884'}
.mt-waiting-icon:before{content:'\e884'}


.mt-test-dots:before{content:'\e85e'}

.mt-title:before{content:'\f05a'}
.mt-info-help:before{content:'\e86e'}
.mt-confirm-help:before{content:'\f059'}




/*/!*MT-NAV-HOME*!/*/
/*.mt-nav-uploda:before{content:'\e04c'}*/
/*.mt-nav-download:before{content:'\e04d'}*/

/*.mt-nav-user:before{content:'\a002'}*/
/*.mt-nav-user-2:before{content:'\ef01'}*/



/*.mt-nav-chart:before{content:'\e00e'}*/

/*.mt-nav-yes:before{content:'\e613'}*/
/*.mt-nav-no:before{content:'\e612'}*/
















